@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Titillium+Web|Roboto+Slab);

body {
  background: url("../img/upfeathers.png");
  font-family: 'Titillium Web', serif;
  font-size:14px;
  text-align: left;
  padding: 40px;
  line-height:1.5em;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight:400px;
  font-size:40px;
  color: pink;
}

h3 {
  font-family: 'Titillium Web', serif;
}

nav {
  margin: 0 auto;
  width: 315px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

nav ul {
  padding-left: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  color: black;
  width: 100px;
  text-align: center;
}

p {
  line-height: 1.2em;
}

nav, ul, li {
  line-height: 1.2em;
}

h2 {
  line-height:.8em;
}

article {
  position: relative;
}

h4 {
  position:absolute;
  top: 0;
  right: 0;
}

#education, #career, #writing, #experiences {
  line-height:1em;
}

h1, address {
  text-align: center;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: pink;
  font-size: 30px;
}

a:hover {
  color: pink;
}

h1 a {
  color: pink;
  font-size: 36px;
  text-decoration: none;
}

h2, h3, h4 {
  color: black;
  line-height: .5em;
}

#container {
  margin: 0 auto;
  width: 800px;
  border: 1px solid #222;
  padding: 2em;
  background: rgba(255,255,255,0.9)
}
